services:
  backend:
    image: ghcr.io/datakind/dk-routing:main
    command: /opt/conda/bin/python src/py/server.py
    ports:
      - "5001:5001"
  frontend:
    environment:
      SERVER_HOST: backend
    build:
      context: ./src/py/ui/
      dockerfile: dashboard.dockerfile
    ports:
      - "8501:8501"
    volumes:
      - ./src/py/ui:/src/app
